/*
Awakelab
Full Stack Python 2020
*/
 
#competencias, 
#contacto {
    padding-top: 60px;
    min-height: 700px;
}

#principal {
    padding: 100px 5% 20px;
    min-height: 300px;
}

#competencias > div >  h3 {
    color: white;
}

#noticia {
    padding-top: 60px;
    padding-bottom: 60px;
}

#enlaces {
    color:white;
    padding-top: 60px;
    min-height: 100%;
}
#medicalr{
    font-size: 30px;
}
.navbar a {
    font-weight: bold;
    font-size: 20px;

}

.navbar-dark {
    background-color:black;
}

h2, h3, h4, h5, h6, .navbar, .modal { 
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}
#principal h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px; 
}

.bg-principal {
    
    background-image: url('../img/auditoria.jpg');
    background-size: 200px;
    
}

.jumbotron {
    color: white;
    background: rgb(0, 0, 0); /* Para navegadores antiguos */
    background: rgba(0, 0, 0, 0.5); 
 }

.media {
    margin: 20px 5% 50px 10%;
}

#contact-form { 
    padding-top: 3rem; 
} 

textarea { 
    resize: none; 
}

.footer p {
    display: inline;
}

#team-carousel {
 margin: auto;
}
.carousel-img { 
    max-width: 800px;
    
}

.carousel-inner {
    width: auto;
    text-align: center;
}