/*
Awakelab
Full Stack Python 2020
*/
 
#competencias{
    padding-top: 60px;
    min-height: 700px;
    background-color:#f3f3f3 !important;
}

#principal {
    padding: 100px 5% 20px;
    min-height: 300px;
}

#competencias > div >  h3 {
    color: white;
}

#noticia {
    padding-top: 60px;
    padding-bottom: 60px;
}

#enlaces {
    color:white;
    padding-top: 60px;
    min-height: 100%;
}
#medicalr{
    font-size: 30px;
}
.navbar a {
    font-weight: bold;
    font-size: 20px;

}

.navbar-dark {
    background-color:black;
}

h2, h3, h4, h5, h6, .navbar, .modal { 
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}
#principal h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px; 
}

.bg-principal {
    
    background-image: url('../img/auditoria.jpg');
    background-size: 200px;
    
}

.jumbotron {
    color: white;
    background: rgb(0, 0, 0); /* Para navegadores antiguos */
    background: rgba(0, 0, 0, 0.5); 
 }

.media {
    margin: 20px 5% 50px 10%;
}

#contact-form { 
    padding-top: 3rem; 
} 

textarea { 
    resize: none; 
}

.footer p {
    display: inline;
}




/*ESTILOS PROPIOS */

.block-header {
    margin-bottom: 15px;
    padding: 10px 0;
}

.block-header h2 {
    margin: 0 !important;
    color: #30373e !important;
    font-weight: 600;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.card .body {
    color: #424242;
    font-weight: 400;
    padding: 20px;
}

.nav-tabs {
    background: transparent;
}

.nav-tabs > li {
    position: relative;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #ab9ae5 !important;
}
.nav-tabs + .tab-content {
    padding: 15px 0;
}

#Historial .timeline {
    border-left: 1px solid #e0e0e0;
    position: relative;
}

#Historial .timeline .timeline-item {
    padding-bottom: 3px;
    position: relative;
}

#Historial .timeline .timeline-item {
    margin-bottom: -4px;
}

#Historial .timeline .timeline-item .item-content {
    margin-left: 23px;
}

#Historial .timeline .timeline-item .item-content {
    margin-top: 0px;
}

#Historial .timeline .timeline-item::after{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
    content: "";
    height: 11px;
    left: 0;
    margin-left: -6px;
    position: absolute;
    width: 11px;
    bottom: auto;
    clear: both;
    top: 4px;
}

#team-carousel {
 margin: auto;
}
.carousel-img { 
    max-width: 800px;
    
}

.carousel-inner {
    width: auto;
    text-align: center;
}
